<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
</head>
<body>
  <h1>Admin Dashboard</h1>
  <button onclick="navigateTo('admin1')">Borrows</button>
  <button onclick="navigateTo('admin2')">Book Categories</button>
  <button onclick="navigateTo('admin3')">Top Professors</button>
  <button onclick="navigateTo('admin4')">Unborrowed Writers</button>
  <button onclick="navigateTo('admin5')">Operators</button>
  <button onclick="navigateTo('admin6')">Common Categories</button>
  <button onclick="navigateTo('admin7')">Writers</button>
  <div>
    <button onclick="location.href='/'" class="button-logout" type="button">Logout</button>
  </div>
  <script>
    function navigateTo(page) {
      window.location.href = page;
    }
  </script>
</body>
</html>