<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
</head>
<body>
  <h1>Admin Dashboard</h1>
  <button onclick="navigateTo('admin1')">Page 1</button>
  <button onclick="navigateTo('admin2')">Page 2</button>
  <button onclick="navigateTo('admin3')">Page 3</button>
  <button onclick="navigateTo('admin4')">Page 4</button>
  <button onclick="navigateTo('admin5')">Page 5</button>
  <button onclick="navigateTo('admin6')">Page 5</button>
  <button onclick="navigateTo('admin7')">Page 5</button>

  <script>
    function navigateTo(page) {
      window.location.href = page;
    }
  </script>
</body>
</html>