<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
</head>
<body>
  <h1>Admin Dashboard</h1>
  <button onclick="navigateTo('admin1')">View School Borrows</button>
  <button onclick="navigateTo('admin2')">View Genre Borrows</button>
  <button onclick="navigateTo('admin3')">Top Professor Users</button>
  <button onclick="navigateTo('admin4')">View Unpopular Writers</button>
  <button onclick="navigateTo('admin5')">View total Lendings</button>
  <button onclick="navigateTo('admin6')">View most popular Genres</button>
  <button onclick="navigateTo('admin7')">View Busiest Writers</button>

  <script>
    function navigateTo(page) {
      window.location.href = page;
    }
  </script>
</body>
</html>